<div class="container">
  <form action="/sessions/new" method="post">
    <input name="username" id="username" type="text" placeholder="Username">
    <input name="password" id="password" type="password" placeholder="Password">
    <input type="submit" value="Login">
  </form>
</div>
