.container {
  margin: 20px auto;
  width: 80%;
  padding: 0px 20px 20px 20px;
  /*border: 1px dotted black;*/
}

#navbar ul {
  list-style-type: none;
}

#navbar li {
  display: inline;
  padding: 10px;
}

#home_button {
  font: bold;
  font-size: 125%;
}


#map {
  width: 700px;
  height: 700px;
  border: solid gray 1px;
}

#manually_enter {
  font-size: 80%;
}
