<div class="container">
  <form action="/users/new" method="post">

      <label for="username">Username: </label>
      <input name="username" id="username" type="text" placeholder="Username"><br>

      <label for="password">Password: </label>
      <input name="password" id="password" type="password" placeholder="Password"><br>

      <label for="first_name">First Name: </label>
      <input name="first_name" id="first_name" type="text" placeholder="First Name"><br>

      <label for="last_name">Last Name: </label>
      <input name="last_name" id="last_name" type="text" placeholder="Last Name"><br>

      <label for="email">Email: </label>
      <input name="email" id="email" type="text" placeholder="Email"><br>
      <br>

      <input type="submit" value="Register">

  </form>
</div>
