<div class="container">
  <!-- < % if current_user %> -->
  <!-- <p>Hello, < %= current_user.first_name %>!</p> -->
  <!-- < % end %> -->

  <form id="manually_enter" method="post" action="/directions">
    <label for="origin">Start Addr. &amp; Zip: </label>
    <input type="text" name="origin">&nbsp;&nbsp;
    <label for="destination">Dest Addr. &amp; Zip: </label>
    <input type="text" name="destination">&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit" value="Directions">
  </form>
  <br>


  <div id="map">
  </div>

</div>

